<div class="carousel py-3 osahan-promos">
    <div class="d-flex align-items-center mb-3">
       <h5 class="m-0">Your Bids</h5>
      
    </div>
    <div class="promo-slider pb-0 mb-0">
       <div class="osahan-slider-item mx-2">
          <a href="/promo_details"><img src="/img/promo1.jpg" class="img-fluid mx-auto rounded goFast" alt="Responsive image">Person</a>
       </div>
       <div class="osahan-slider-item mx-2">
          <a href="/promo_details"><img src="/img/promo2.jpg" class="img-fluid mx-auto rounded goFast" alt="Responsive image">Person</a>
       </div>
       <div class="osahan-slider-item mx-2">
          <a href="/promo_details"><img src="/img/promo3.jpg" class="img-fluid mx-auto rounded goFast" alt="Responsive image">Person</a>
       </div>
       <div class="osahan-slider-item mx-2">
          <a href="/promo_details"><img src="/img/promo4.jpg" class="img-fluid mx-auto rounded goFast" alt="Responsive image">Person</a>
       </div>
       <div class="osahan-slider-item mx-2">
          <a href="/promo_details"><img src="/img/promo2.jpg" class="img-fluid mx-auto rounded goFast" alt="Responsive image">Person</a>
       </div>
       <div class="osahan-slider-item mx-2">
          <a href="/promo_details"><img src="/img/promo3.jpg" class="img-fluid mx-auto rounded goFast" alt="Responsive image">Person</a>
       </div>
    </div>
 </div>