<!-- footer -->
<footer class="section-footer border-top bg-white">
    <section class="footer-top py-4">
        <div class="container">
            <div class="row">
                <aside class="col-md">
                    <h6 class="title">Freebies</h6>
                    <ul class="list-unstyled list-padding">
                        <li> <a href="/listings" class="text-dark">Listing</a></li>
                        <li> <a href="#recommended" class="text-dark">Recommended</a></li>
                        <li> <a href="/picks_today" class="text-dark">Most Popular</a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">Account & Info</h6>
                    <ul class="list-unstyled list-padding">

                        <li> <a class="text-dark" href="/my_account"> My account</a></li>
                        <li><a href="#" class="text-dark"> Conditions </a></li>
                        <li><a href="#" class="text-dark"> Help Support </a></li>
                        <li><a href="#" class="text-dark"> FAQ </a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title"> Extra Details</h6>
                    <ul class="list-unstyled list-padding" id="footerList">
                        <li>9 Broadway, 3rd Floor. Cambridge, MA 02142</li>

                        <li>Questions? Email: jeon@resilientcoders.org</li>

                        <li>Photography by Levin Sandoval, of Mosley Music Group</li>

                        <li>Website designed and developed by Front End Folx</li>
                    </ul>
                </aside>
            </div>
            <!-- //container -->
    </section>
</footer>