<div class="bg-white shadow-sm osahan-main-nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-white osahan-header py-0 container">
        
        <!-- logo link to home -->
       <img class="img-fluid logo-img " src="/img/logo.png">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="ml-3 d-flex align-items-center">
            <div class="dropdown mr-3">


                <!-- search  -->
                <form action="POST">
                    <div class="input-group mr-sm-2 col-lg-12">
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2"
                            placeholder="Search for Freebies">
                        <div class="input-group-prepend">
                            <div class="btn btn-success rounded-right"><i class="icofont-search"></i></div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="ml-auto d-flex align-items-center">
                <!-- login/signup -->
                <a href="/logout" class="mr-2 text-dark bg-light rounded-pill p-2 icofont-size border shadow-sm">
                    <i class="icofont-login"></i>
                </a>
                <!-- notification -->
           
            
            </div>
        </div>
    </nav>

    <!-- green navigation bar -->
    <div class="bg-color-head">
        <div class="container menu-bar d-flex align-items-center">
            <ul class="list-unstyled form-inline mb-0">

                <li class="nav-item active">
                    <a class="nav-link text-white pl-0" href="/home">Home<span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link text-white pl-0" href="/my_account">My Account<span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link text-white pl-0" href="/newPost">Create Post<span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link text-white pl-0" href="/listing">Listings <span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link text-white pl-0" href="/logout">Logout <span class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </div>
</div>