<!DOCTYPE HTML>

<html>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<head>
	<title>Freebie</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="landing-assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="landing-assets/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload landing">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<nav id="nav">
				<ul>
					<li><a href="/signup" class="button primary">Sign Up</a></li>
					<li><a href="/login" class="button primary">Login</a></li>
				</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="content">
				<span class="image"><img src="landing-assets/css/images/pic01.jpg" alt="" /></span>
				<header>
					<h2>A Local Community Gifting Group</h2>
					<p>Post what you would like to give</br>
						No payments will ever be required of you, and gift winners are chosen randomly.</p>
				</header>
			</div>
			<a href="#one" class="goto-next scrolly">Next</a>
		</section>

		<!-- One -->
		<section id="one" class="spotlight style1 bottom">
			<span class="image fit main"><img src="landing-assets/css/images/pic022.jpg" alt="" /></span>
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-4 col-12-medium">
							<header>
								<h2>Helping Those in Need</h2>
							</header>
						</div>
						<div class="col-4 col-12-medium">
							<p>By helping those in need with Freebie gifts, we can do a lot to help the environment. Gifts that would have been sitting in a landfill taking up space will instead help the people that need them the most. </p>
						</div>
						<div class="col-4 col-12-medium">
							<p>Freebie helps to foster a sense of inclusion and engagement through local community exchange of products.</p>
						</div>
					</div>
				</div>
			</div>
			<a href="#two" class="goto-next scrolly">Next</a>
		</section>

		<!-- Two -->
		<section id="two" class="spotlight style2 right">
			<span class="image fit main"><img src="landing-assets/css/images/moving.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Circular Economy Changes</h2>

				</header>
				<p>Right now, our economy is heavily based on consumption alone. This overconsumption of goods and materials causes so much harm to the environment. We should strive for a circular economy; one in which everyone reuses and recycles items whenever possible. This way, everyone will be doing their part to help save the planet. Freebie aims to create a more sustainable economy and encourages change for the better.</p>
				<ul class="actions">

				</ul>
			</div>
			<a href="#three" class="goto-next scrolly">Next</a>
		</section>

		<!-- Three -->
		<section id="three" class="spotlight style3 left">
			<span class="image fit main bottom"><img src="landing-assets/css/images/shawn-fields-zsppCWsxJy0-unsplash.jpg" alt="" /></span>
			<div class="content">
				<header>
					<h2>Here at Freebie</h2>
					<p>we value our members, just like we value our communities.</p>
				</header>
				<p>We can’t live without either, so we need to take care of them as much as we possibly can. Freebie provides a platform where you can post your donations, so you don’t have to worry about them adding to the cycle of pollution. The next time you are getting rid of belongings you no longer use, post it on Freebie, and gift to your community in need.</p>
				<ul class="actions">
				</ul>
			</div>
			<a href="#four" class="goto-next scrolly">Next</a>
		</section>

		<!-- Four -->
		<section id="four" class="wrapper style1 special fade-up">
			<div class="container">
				<header class="major">
					<h2>MEET OUR TEAM</h2>
					<p>Take a look at the team that made this application possible.</p>
				</header>
				<div class="box alt">
					<div class="row gtr-uniform">
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel1' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/zrybeawhitfield/'>Zrybea Whitfield</a></h3>
							<p>Technical Program Manager</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel2' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/amilord/'>Asianna Milord</a></h3>
							<p>Frontend Engineering Manager</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel3' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/guthemberg-teixeira/'>Guthemberg Teixeira</a></h3>
							<p>Backend Engineering Manager</br>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel4' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/dashlin/'>Dashlin Sermeil</a></h3>
							<p>DevOps Engineering Manager</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel5' class="icon solid alt major"></span>
							<h3><a href='https://www.linkedin.com/in/eden-gebrezgi/'>Eden Gebrezgi</a></h3>
							<p>Frontend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel6' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/jerry-lafume-577065144/'>Jerry Lafume</a></h3>
							<p>Frontend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel7' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/juan-justin-vistro/'>Juan Paolo Miguel Bautista Vistro</a></h3>
							<p>Frontend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel8' class="icon solid alt major"></span>
							<h3><a href='https://www.linkedin.com/in/julie-tran-1234design/'>Julie Tran</a></h3>
							<p>Frontend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel9' class="icon solid alt major"></span>
							<h3><a href='https://www.linkedin.com/in/kfscreateandinnovate/'>Kevin Sandoval</a></h3>
							<p>Frontend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel10' class="icon solid alt major"></span>
							<h3><a href='https://www.linkedin.com/in/khorally-pierre/'>Khorally Pierre</a></h3>
							<p>Frontend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel11' class="icon solid alt major"></span>
							<h3><a href='https://www.linkedin.com/in/kiany-ortega-635098204/'>Kiany Ortega</a></h3>
							<p>Frontend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel12' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/miggiegarcia/'>Miggie Garcia</a></h3>
							<p>Frontend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel13' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/rodas-ghidei/'>Rodas Ghidei</a></h3>
							<p>Frontend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel14' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/anvytran/'>Anvy Tran</a></h3>
							<p>Backend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel15' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/brian-melara-881a17203/'>Brian Melara</a></h3>
							<p>Backend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel16' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/danstan-kimuli/'>Danstan Kimuli</a></h3>
							<p>Backend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel17' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/monica-goncalves-dev/'>Monica Goncalves</a></h3>
							<p>Backend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel18' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/tamikasterlin/'>Tamika Sterlin</a></h3>
							<p>Backend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel19' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/wadedesir/'>Wade Desir</a></h3>
							<p>Backend Software Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel20' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/alief-imam/'>Alief Imam</a></h3>
							<p>DevOps Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel21' class="icon solid alt major "></span>
							<h3><a href='https://www.linkedin.com/in/davida-garner/'>Davida Garner</a></h3>
							<p>DevOps Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel22' class="icon solid alt major"></span>
							<h3><a href='https://www.linkedin.com/in/jasminlalvarez4/'>Jasmin Alvarez</a></h3>
							<p>DevOps Engineer</p>
						</section>
						<section class=" col-4 col-6-medium col-12-xsmall">
							<span id='circel23' class="icon solid alt major"></span>
							<h3><a href='https://www.linkedin.com/in/kevin-charles-39708b204/'>Kevin Charles</a></h3>
							<p>DevOps Engineer</p>
						</section>
					</div>
				</div>
			</div>
		</section>

		<!-- Five -->
		<section id="five" class="wrapper style2 special fade">
			<div class="container">
				<header>

				</header>

			</div>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/resilientcoders" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/resilientcoders" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.linkedin.com/company/resilient-coders/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://github.com/Resilient-Labs" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
			</ul>

		</footer>

	</div>

	<!-- Scripts -->
	<script src="landing-assets/js/jquery.min.js"></script>
	<script src="landing-assets/js/jquery.scrolly.min.js"></script>
	<script src="landing-assets/js/jquery.dropotron.min.js"></script>
	<script src="landing-assets/js/jquery.scrollex.min.js"></script>
	<script src="landing-assets/js/browser.min.js"></script>
	<script src="landing-assets/js/breakpoints.min.js"></script>
	<script src="landing-assets/js/util.js"></script>
	<script src="landing-assets/js/main.js"></script>

</body>

</html>
